.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
    width: 100%;
  }
  
  .buttons a {
    width: 100%;
    margin: 0.5rem 0;
  }
}


.videoContainer {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}